@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Luckiest+Guy|Pacifico&display=swap');

.name {
    font-family: 'Pacifico';
    color: lightpink;
    background-color: rgb(220, 237, 243);
    text-align: center;
    font-size: 2rem;
}

.notice {
    font-family: 'Luckiest Guy';
    text-align: center;
    color: lightsalmon;
    font-size: 2rem;
    background-color: lightyellow;
    
}